.input-wrapper {
  margin: auto;
}

.input-item {
  border-radius: 10px;
  height: 30px;
  width: 600px;
  margin: auto;
}

.input-item::placeholder {
  padding-left: 10px;
}

.btn-delete {
  border-radius: 100px;
  border: none;
  height: 25px;
  width: 25px;
  box-shadow: 1px 1px 1px 1px;
  background-color: gray;
}

.btn-delete:hover {
  background-color: darkgray;
}

.btn-delete:active {
  background-color: red;
  box-shadow: 0px 0px 0px 0px;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px;
  margin: 10px;
}

.list {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
